{% extends 'shop/basic.html' %}
{% block title %} Title of Home Page {% endblock %}

{% block body %}
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-sm-5 mx-auto">
                 <form action="/shop/contact/"  method="post">
                     {% csrf_token %}
                      <!-- Name -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" id="name" type="text" name="name" required >
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- email -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="email" required >
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- Subject -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="phone">Mobile</label>
                        <input class="form-control" id="phone" type="tel" name="mobile">
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- Message -->
                      <div class="form-group label-floating">
                          <label for="message" class="control-label">Message</label>
                          <textarea class="form-control" rows="3" id="message" name="message" required ></textarea>
                          <div class="help-block with-errors"></div>
                      </div>
                      <!-- Form Submit -->
                      <div class="form-submit mt-5">
                          <button class="btn btn-common" type="submit" id="form-submit">Send Message</button>
                      </div>
                  </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
  <script>
    {% if thank %}
      alert('Thanks for contacting us. We will get back to soon!');
      document.location = "/shop/contact";
    {% endif %}
  </script>
{% endblock %}