{% extends 'shop/basic.html' %}
{% block title %} Title of Home Page {% endblock %}

{% block body %}
    <div class="container mt-5 pt-3">
        {{response}}
        <div class="col-12">
            <h5 class="pb-2">Payment status regarding your order id {{response.ORDERID}}</h5>
            {% if response.RESPCODE == '01' %}
                Order Success
            {% else %}
                Order Faild
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}
